@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

@section Links
{
    <link rel="stylesheet" href="~/lib/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/owl.theme.default.min.css">
}

@section Scripts {
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            // autoplay: false,
            autoplay: true,
            margin: 0,
            nav: false,
            dots: true,
            autoplayHoverPause: true,
            items: 1,
            center:false,
            animate: '',
            responsive: {
              0: {
                items: 1
              },
              600: {
                items: 1
              },
              1000: {
                items: 1
              }
            }
          });
    </script>
}

<div class="container card">
    <div style="width:90%;margin:auto">
        @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
        {
            <h5 class="card-header">My Cart</h5>

            <table class="table table-striped card-body">
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Type</th>
                    <th>Unit Price(INR)</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model.CartDetails)
                {
                    <tr>
                        <td>
                            @if (item.Product.Images.Count <= 0)
                            {
                                <img src="~/client/img/NoImage.png" style="width:80px;height:100px"/>
                            }
                            else
                            {
                                <div class="owl-carousel owl-theme w-100" style="max-width: 130px !important;">
                                    @foreach (var i in item.Product.Images)
                                    {
                                        <div class="item">
                                            <img src="@i.ImageCloud" class="d-block w-100 img-fluid img-thumbnail" alt="@item.Product.Name">
                                        </div>
                                    }
                                </div>
                            }
                        </td>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.ProductType.Name</td>
                        <td>@item.Product.Price.ToString() X @item.Quantity.ToString()</td>
                        <td>@(item.Product.Price.Value * item.Quantity)</td>
                        <td>
                            <a class="btn btn-outline-primary qty-up" href="/Cart/AddItem?productId=@item.ProductId.ToString()&&redirect=1">+</a>
                            <a class="btn btn-primary qty-down" href="/cart/RemoveItem?productId=@item.ProductId.ToString()">-</a>
                        </td>
                    </tr>
                }
            </table>

            <div class="my-2 card-footer text-end">
                <h5>Total(INR): </h5>

                @{
                    decimal? sum = 0;
                    foreach (var item in Model.CartDetails)
                    {
                        var @decimal = item.Product.Price * item.Quantity;
                        if (@decimal.HasValue)
                        {
                            sum += @decimal.Value;
                        }
                    }
                }
                @sum
            </div>

            <div class="my-2 text-end">
                <a class="btn btn-warning" href="/Cart/Checkout">Checkout</a>
            </div>
        }
        else
        {
            <h5>Cart is empty</h5>
        }
    </div>
</div>