@using learningGate.Models
@using learningGate.Extensions

@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}

@section Scripts {
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            // autoplay: false,
            autoplay: true,
            margin: 0,
            nav: false,
            dots: true,
            autoplayHoverPause: true,
            items: 1,
            center:false,
            animate: '',
            responsive: {
              0: {
                items: 1
              },
              600: {
                items: 1
              },
              1000: {
                items: 1
              }
            }
          });
    </script>
  <script src="~/client/js/hooks.js" asp-append-version="true" type="text/javascript"></script>

}



<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
        <h3 class="fw-semibold m-4">Các buổi hội thảo nổi bật</h3>
      <div class="card-body">
        <div class="row">
          @foreach (var item in Model.Products){
            @if(item.IsSerivce){
            <div class="col-md-4">
              @* <h5 class="card-title fw-semibold mb-4">{@item.Name}</h5> *@
              <div class="card">
                <div class="owl-carousel owl-theme">
                  @foreach (var i in item.Images)
                  {
                    <div class="item">
                        <img src="@i.ImageCloud" class="d-block w-100 img-fluid img-thumbnail" alt="@item.Name">
                    </div>
                  }
                </div>
                <div class="card-body">
                  <h5 class="card-title">@item.Name</h5>
                  <p class="card-text">@Html.Raw(item.ShortDescription)</p>
                  @{ var slugX = item.Name + "".GenerateSlug(); }
                  <a href="hoi-thao/@slugX/@item.Id" class="btn btn-primary">Go detail</a>
                  <a type="submit" onclick="add(@item.Id.ToString())" class="btn btn-secondary">Add to Cart</a>
                </div>
              </div>
            </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="card">
        <h3 class="fw-semibold m-4">Các bài viết nổi bật</h3>
      <div class="card-body">
        <div class="row">
          @foreach (var item in Model.Products){
             @if(!item.IsSerivce){
              <div class="col-md-4">
                @* <h5 class="card-title fw-semibold mb-4">{@item.Name}</h5> *@
                <div class="card">
                  <div class="owl-carousel owl-theme">
                    @foreach (var i in item.Images)
                    {
                      <div class="item">
                          <img src="@i.ImageCloud" class="d-block w-100 img-fluid img-thumbnail" alt="@item.Name">
                      </div>
                    }
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@Html.Raw(item.ShortDescription)</p>
                    @{ var slugX = item.Name + "".GenerateSlug(); }
                    <a href="bai-viet/@slugX/@item.Id" class="btn btn-primary">Go detail</a>
                    <a type="submit" onclick="addFavorite(@item.Id.ToString())" class="btn btn-secondary">Save</a>
                  </div>
                </div>
              </div>
             }
          }
        </div>
      </div>
    </div>
  </div>
</div>